html,body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.box-card {
  width: 100;
  height: 100;
  padding: 20px;
  background-color: #fff;
}

/* 步骤条字体样式 */
.el-step__title {
    font-size: 12px !important;
}

/* 富文本框 */
.ql-editor {
    min-height: 300px;
}
